.body
{
  background-color: black;
}
.heading
{
  padding: 1.4vmax;
  margin: 1.4vmax;
  text-align: center;

}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.searchbar{
  padding: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar >  input[type="text"] {
  padding: 1vmax;
  font: 300 1vmax cursive;
  width: 50%;
  border: 1px solid black;
  outline: none;
  font-family: serif;
}

.searchbar input[type="submit"] {
  padding: 1vmax;
  font: 300 1vmax cursive;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: serif;
  color: white;
  font-size: 1vmax;
}